.thumbnailImg{
    height: auto;
    min-width: 30px;
    max-width: 30px;
    max-height: 35px;
}

h2{
    font-weight: bold;
}

.menu-actions{
    right: 15px;
    top: 15px;
}

.sort{
    font-size: 0.8em;
    border: 1px solid rgb(221, 219, 218);
    padding: 0 10px 0 10px;
    border-radius: .25rem;
}

.secondaryFields span:after {
    content: "\2022";
    margin: 0 5px;
}

.secondaryFields span:last-child:after {
    content: "";
    margin: 0;
}

lightning-file-upload [lightning-input_input-host]{
    width: 100% !important;
    background: red;
}

lightning-file-upload lightning-input .slds-form-element__label{
    display: none !important;
}

.slds-card__body{
    margin-bottom: 0 !important;
}

.slds-file-selector.slds-file-selector_files{
    width: 100%;
    height: 100px;
}

button:focus {outline:0;}

button:disabled {
    cursor: pointer;
}
